body {
    background-color: rgb(0, 0, 0);
    color: #000;    
    font-family: Garamond;
    background-image: url(sources/background2.jpg);
    background-size: cover;
    font-size: 18px;
}

header p {
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

ul.navbar {
    background-color: rgba(120, 120, 120, 0.9);
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #5c5c5c;
}

ul.navbar li.right {
    float: right;
    width: auto;
}

footer {
    width: 100%;
    float: left;
    text-align: right;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.left {
    width: 70%;
    float: left;
}

.right {
    text-align: center;
    width: 30%;
    float: left;
}

.right img {
    height: 400px;
}

table {
    text-align: center;
}

th,
tr,
td {
    padding: 5px;
}

.gallery {
    width: 33%;
    float: left;
}

.gallery img {
    width: 100%;
    height: auto;
}

#content a{
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .gallery {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        width: 100%;
        float: left;
    }

    .left {
        width: 100%;
        float: left;
    }

    .right {
        width: 100%;
        float: left;
    }

    ul.navbar li.right,
    ul.navbar li {
        float: none;
    }
}
